<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
<h1>IP列表</h1>
<div>
    <% for(var i = 0;i < data.length;i++){
        var ipSegment = data[i]; %>
    <h2><a href="/ip/<%= ipSegment.ip %>"><%= ipSegment.ip %></a></h2>
    <div class="ip-line">
        <% if(ipSegment.location){ %>
        <%= ipSegment.location %>
        <% } %>
        <% if(ipSegment.oid) { %>
        <%= ipSegment.oid %>
        <% } %>
        <% if(ipSegment.organ) { %>
        <%= ipSegment.organ %>
        <% } %>
    </div>
    <% for(var m = 0;m < ipSegment.users.length; m++){ %>
    <% var user = ipSegment.users[m]; %>
    <h4><%= user.user_id %> <span class="user-name-line"><%= user.name %></span></h4>
    <div class="user-line">
        count=<%= user.count %>
        <% if(user.role){ %>
        <span>role=<%= user.role %></span>
        <% } %>
        <% if(user.oid){ %>
        <span>oid=<%= user.oid %></span>
        <% } %>
        <% if(user.courses.length){ %>
        <span>course=<%= user.courses.length %></span>
        <% } %>
        <% if(user.resources.length){ %>
        <% if(user.resources.length){ %>
        <span>resource=<%= user.resources.length %></span>
        <% } %>
        <% } %>
        <% if(user.play){ %>
        <span>play=<%= user.play %></span>
        <% } %>
        <% if(user.mp4){ %>
        <span>mp4=<%= user.mp4 %></span>
        <% } %>
        <% if(user.mp3){ %>
        <span>mp3: <%= user.mp3 %></span>
        <% } %>
        <% if(user.pdf){ %>
        <span>pdf: <%= user.pdf %></span>
        <% } %>
        <% if(user.doc){ %>
        <span>doc: <%= user.doc %></span>
        <% } %>
        <% if(user.ppt){ %>
        <span>ppt: <%= user.ppt %></span>
        <% } %>
        <% if(user.xls){ %>
        <span>xls: <%= user.xls %></span>
        <% } %>
        <% if(user.other){ %>
        <span>other: <%= user.other %></span>
        <% } %>
    </div>
    <% } %>
    <% } %>
</div>
</body>
</html>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/pages/home.js"></script>
