<!DOCTYPE html>
<html>
<head>
    <style>
        h2, h4 {
            padding: 0px;
            margin: 0px;
        }

        h2 {
            font-weight: bold;
            font-size: 16px;
            color: green;
            padding: 10px 0px 20px 10px;
        }

        h4 {
            font-weight: bold;
            font-size: 14px;
            color: #ff2128;
            padding: 10px 0px 5px 60px;
        }

        .user-line {
            padding-left: 60px;
            font-size: 9pt;
            color: #3c3c3c;
        }
    </style>
</head>
<body>
<h1>用户列表</h1>
<div>
    <% for(var i = 0;i < data.length;i++){
        var ipSegment = data[i]; %>
    <h2><a href="/ip/<%= ipSegment.ip %>"><%= ipSegment.ip %></a></h2>
    <% for(var m = 0;m < ipSegment.users.length; m++){ %>
    <% var user = ipSegment.users[m]; %>
    <h4><%= user.user_id %> </h4>
    <div class="user-line">
        count=<%= user.count %>, role=<%= user.role %>, oid=<%= user.oid %>,
        <span>course: <%= user.courses.length %></span>
        <span>resource: <%= user.resources.length %></span>
        <% if(user.mp4){ %>
        <span>mp4: <%= user.mp4 %></span>
        <% } %>
        <% if(user.mp3){ %>
        <span>mp3: <%= user.mp3 %></span>
        <% } %>
        <% if(user.pdf){ %>
        <span>pdf: <%= user.pdf %></span>
        <% } %>
        <% if(user.doc){ %>
        <span>doc: <%= user.doc %></span>
        <% } %>
        <% if(user.ppt){ %>
        <span>ppt: <%= user.ppt %></span>
        <% } %>
        <% if(user.xls){ %>
        <span>xls: <%= user.xls %></span>
        <% } %>
        <% if(user.other){ %>
        <span>other: <%= user.other %></span>
        <% } %>
    </div>
    <% } %>
    <% } %>
</div>
</body>
</html>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/pages/home.js"></script>
