<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
<h1>IP: <%= data.ip %></h1>
<p><%= data.location %></p>
<table width="100%">
    <tr>
        <td width="50%" valign="top">
            <% for(var m = 0;m < data.users.length; m++){ %>
            <% var user = data.users[m]; %>
            <h4><%= user.user_id %> </h4>
            <div class="user-line">
                <% if(user.count) { %>
                <span>count: <%= user.count %></span>
                <% } %>
                <% if(user.role) { %>
                <span>role: <%= user.role %></span>
                <% } %>
                <% if(user.oid) { %>
                <span>oid: <%= user.oid %></span>
                <% } %>
                <% if(user.courses.length){ %>
                <span>course: <%= user.courses.length %></span>
                <% } %>
                <% if(user.resources.length){ %>
                <span>resource: <%= user.resources.length %></span>
                <% } %>

            </div>
            <div class="user-line">
                <span>play: <%= user.play %></span>
                <% if(user.mp4){ %>
                <span>mp4: <%= user.mp4 %></span>
                <% } %>
                <% if(user.mp3){ %>
                <span>mp3: <%= user.mp3 %></span>
                <% } %>
                <% if(user.pdf){ %>
                <span>pdf: <%= user.pdf %></span>
                <% } %>
                <% if(user.doc){ %>
                <span>doc: <%= user.doc %></span>
                <% } %>
                <% if(user.ppt){ %>
                <span>ppt: <%= user.ppt %></span>
                <% } %>
                <% if(user.xls){ %>
                <span>xls: <%= user.xls %></span>
                <% } %>
                <% if(user.other){ %>
                <span>other: <%= user.other %></span>
                <% } %>
            </div>
            <% } %>
        </td>
        <td width="50%" valign="top">
            <% for(var i = 0;i < data.events.length && i < 200;i++){ let e = data.events[i]; %>
            <div class="event-line">
                <%= e.user_id %>
                <%= new Date(e.time).toLocaleTimeString() %>
                <%= e.path %>
            </div>
            <% } %>
        </td>
    </tr>
</table>
</body>
</html>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/pages/home.js"></script>
